@keyframes nav-links-highlight {
    0% {
        background: none;
    }

    100% {
        background: #545454;
    }
}


.root .header {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #838383;
}

.root .header .nav {
    width: 100%;

}

.root .header .nav .navigation-list {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    padding-bottom: 10px;

}

.root .header .nav .navigation-list .navigation-links {
    color: #fff;
    padding: 1px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;

}

.root .header .nav .navigation-list .navigation-items {
    transition: 1s ease;

}

.root .header .nav .navigation-list .navigation-items :hover {
    background: #545454;
    animation-name: nav-links-highlight;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

.root .header .logo-login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.root .header .logo-login-container .logo {
    position: absolute;
}

.root .header .logo-login-container .login-button {
    margin-left: auto;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 1px 15px;
    color: gray;
    background: blanchedalmond;
    box-shadow: none;
}


.drop-cover{
    display: inline-block;
    position: relative;

}

.drop-content{
    display: none;
    position: absolute;
    z-index: 2;
    background: #545454;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


   }


.drop-cover:hover .drop-content{
    display: block;
}

.lol{
    display: flex;
    flex-direction: column;


}

.stars-contacts{
    color: white;
    display: flex;
    justify-content: center;

}



